fastapi
uvicorn[standard]
httpx[http2]==0.27.0
pydantic
google-cloud-storage
google-api-core
jsonlines
trafilatura
beautifulsoup4
lxml
Pillow
pdf2image
pytesseract
python-docx
openpyxl
python-pptx
faiss-cpu
numpy
tiktoken
PyMuPDF
torch
transformers
lxml-html-clean
openai
langchain
langchain_groq
langchain_openai
neo4j
cohere
aiofiles
PyPDF2